/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Header */
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('Laptop.jpg') no-repeat center center/cover;
}

.header .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a dark overlay to make text stand out */
    border-radius: 10px;
}

/* Section Content */
.section-content {
    padding: 120px 20px 40px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    color: #004970;
}

.welcome-message {
    font-size: 50px;
    font-weight: 300; 
    color: #005f8d;
    animation: fadeInRight 1s ease-out;
    margin-bottom: 20px;
}

/* Button Styles */
.btn-get-started {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0073b1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-get-started:hover {
    background-color: #005f8d;
}

/* Project List Styles */
.project-list li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.project-list li.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.project-list li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 100px;
    background: rgba(0, 115, 177, 0.3);
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%) scale(0);
}

.project-list li:hover::before {
    transform: translate(-50%, -50%) scale(1.5);
}

.project-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-list a {
    color: #0073b1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
}

.project-list a:hover {
    color: #005f8d;
}

/* Footer */
.footer {
    background-color: #008ad4;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.image-thumbs-up {
    display: block;              
    border-radius: 20px;
    max-width: 100%;            
    height: auto;    
    margin: 80px auto;     
}     

/* Contact Section */
#contact-section {
    padding-bottom: 200px; 
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.footer a:hover {
    background-color: #005f8d;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Testimonial Section */
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 800px;
}

.testimonial:hover {
    background-color: #ececec;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.8s ease, box-shadow 0.4s ease, transform 0.4s ease;
    will-change: background-color, box-shadow, transform;
    transform: translateY(20px);
}

.testimonial-content {
    text-align: left;
    color: #333;
}

.testimonial-content h2 {
    font-size: 24px;
    color: #005f8d;
    margin-bottom: 10px;
}

.testimonial-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #444444;
}

.testimonial-link {
    color: #0073b1;
    text-decoration: none;
    transition: color 0.4s ease, background-color 0.4s ease;
    will-change: color, background-color;
    margin-left: 20px; 
    margin-right: 40px; 
}

.testimonial-link:hover {
    color: #005f8d;
    background-color: rgba(88, 88, 88, 0.1);
    border-radius: 20%;
}

/* Contact Link */
.contact-link {
    color: #00aaff;
    text-decoration: none;
}

.contact-link:hover {
    background-color: #007fbe;
    transition: color 0.4s ease, background-color 0.4s ease;
    will-change: color, background-color;
    border-radius: 10%;
}

/* Star Rating */
.rating-stars {
    color: #FFD700; 
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
    animation: star-glow 2s infinite ease-in-out;
    margin-left: 5px; 
    margin-right: 10px;
}

@keyframes star-glow {
    0% {
        transform: scale(1);
        text-shadow: 0 0 3px #FFD700, 0 0 6px #FFD700, 0 0 12px #FFD700;
    }
    50% {
        transform: scale(1.2);
        text-shadow: 0 0 6px #FFD700, 0 0 12px #FFD700, 0 0 24px #FFD700;
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 3px #FFD700, 0 0 6px #FFD700, 0 0 12px #FFD700;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .btn-get-started a {
        font-size: 18px;
    }

    .welcome-message {
        font-size: 36px;
    }

    .project-list li {
        padding: 10px 15px;
        border-radius: 25px;
    }

    .btn-get-started {
        font-size: 18px;
        padding: 10px 15px;
    }
}

/* Scroll Animation Styles */
[data-animate] {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 2s ease-out;
}

[data-animate].fade-in {
    opacity: 1;
    transform: translateY(0);
}

[data-animate].fade-in[data-animate-visible] {
    opacity: 1;
    transform: translateY(0);
}
.thign{
    text-decoration: none;
    color: #00aaff;
}

.thign:hover {
    background-color: #007fbe;
    transition: color 0.4s ease, background-color 0.4s ease;
    will-change: color, background-color;
    border-radius: 10%;
}